/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color:white;
  
}

header .logo img {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(2, 2, 2);
    font-size: 16px;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #005fa3;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    background-color: #004c8c;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: #0078d4;
}

h4{
    text-decoration: none;
    background-color: rgb(133, 130, 130);
    color: #000000;
    text-align: right;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
   position: fixed;
}

.features {
    padding: 40px 20px;
    text-align: center;
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.feature-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-cards .card {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.feature-cards .card img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.feature-cards .card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature-cards .card p {
    font-size: 1rem;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}


.glavno{
    padding: 40px 20px;
    text-align: center;
}


.osnovno{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.osnovno .prvi-deo{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.osnovno .prvi-deo img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

