
div{
    text-align: right;
}

.fa-youtube{
    font-size: 50px;
    text-align: right;
}

.fa-tiktok{
    font-size: 50px;
    text-align: right;
}

.fa-x-twitter{
    font-size: 50px;
    text-align: right;

}

.fa-facebook-f{
    font-size: 50px;
    text-align: right;
}